body{visibility: visible !important;background-color:#17232E;margin:auto 0;font-family:'Courier New',Courier,monospace;}nav{position:fixed;top:0;left:0;right:0;background-color:#17232E;z-index:10000;}nav ul{list-style:none;margin:0;padding:0;display:flex;margin-left:auto;}nav li,nav p,.caption,.footer{font-size:12px;text-align:center;}nav li{max-width:200px;flex:1;}ul,.content{max-width:800px;}nav a,nav p{display:block;padding:12px 0;color:white;transition:0.3s;margin:0;}nav a:hover,nav p:hover,.dropdown-content a:hover{background-color:#0092B3;}.content{margin-top:50px;margin-left:auto;margin-right:auto;padding:10px 20px;background-color:white;}img{width:100%;margin-left:auto;margin-right:auto;margin-top:10px;}.footer{background-color:#0f0f0f;color:white;padding:10px;}.portfolio>a{font-size:20px;}
* { box-sizing: border-box; }

body {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.slideshow-container {
    position: relative;
    max-width: 800px;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
    width: 100%;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
    user-select: none;
    border-radius: 0 3px 3px 0;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}