<!--

This is the base for the site.

-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | SAY SI MAS</title>
  <meta name="description" content="Website for youth advocacy media arts group at SAY Si, with a focus on youth voice, social justice, and do-it-yourself film and photography.">
  <link rel="preload" href="/css/style.css" as="style" onload="this.rel='stylesheet'">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Bellefair&display=swap" rel="stylesheet">
  <style>
    body { visibility: hidden; }
  </style>
</head>

<body>
  {% include "navbar.njk" %}
  <div class="content">
    {{ content | safe }}
  </div>
  {% include "footer.njk" %}
</body>
</html>
