<div class="footer">
    <p id="copyright"></p>
</div>

<script>
    const currentYear = new Date().getFullYear();
    const copyrightElement = document.getElementById('copyright');
    copyrightElement.innerHTML = `&copy; ${currentYear} SAY Sí. All rights reserved.`;
</script>