<!--

This is the file to manage the navbar. Each item in the below list counts as
one item in the navbar. The structure is as follows:

<li> announces it's a new member of the list.
<a href="[LINK GOES HERE]"> tells the browser where to send the user on click.
The text between that and </a></li> is what the button says.
</li> closes the member of the list.

To add more items, add more members to the list. Editing them in this file
will edit them across the entire website.

-->

<nav>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/portfolio/">PORTFOLIO</a></li>
        <li><a href="https://linktr.ee/mediaartsstudio">STUDENTS</a></li>
        <li><a href="/connect">CONNECT</a></li>
    </ul>
</nav>